{% extends 'app_guias/base.html' %}


{% block contenido %}
<section>
    <div>
      <h1>Lista de Agentes de carga</h1>
      <br>
      <a class="btn btn-primary" href="{% url 'crear_agente' %}">Cargar Nuevo Agente</a>
      <ul>
        <table class="table">
          <body>
            <tr>
              <th>Nombre</th>
              <th>Codigo</th>
            </tr>  
            {% for fwr in object_list %}
            <tr>
              <td>{{ fwr.nombre_fwr }}</td>
              <td>{{ fwr.abrev_fwr }}</td>
              <td>
                <a href="{% url 'detalle_agente' fwr.id %}">
                  <i class="bi-eye-fill"></i>
                </a>
              </td>
              <td>
                <a href="{% url 'actualiza_agente' fwr.id %}">
                  <i class="bi-pencil-fill"></i>
                </a>
              </td>
              <td>
                <a href="{% url 'borra_agente' fwr.id %}">
                  <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>          
            {% endfor %}
          </tbody>
        </table>
        </ul>
    </div>
  </section>
        
{% endblock contenido %} 