{% extends 'app_guias/base.html' %}


{% block contenido %}
<section>
    <div>
      <h1>Lista de Usuarios</h1>
      <a class="btn btn-primary btn-xs p-1 " href="{% url 'crear_usuario' %}">Nuevo Usuario</a>
      <br>
      <br>
      <form action="{% url 'buscar_usuario' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar x area">
      </form>
      <br>
      <ul>
        <table class="table">
          <body>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Aerea</th>
            </tr>  
            {% for usr in object_list %}
            <tr>
              <td>{{ usr.nombre }}</td>
              <td>{{ usr.apellido }}</td>
              <td>{{ usr.area }}</td>
              <td>
                <a href="{% url 'detalle_usuario' usr.id %}">
                  <i class="bi-eye-fill"></i>
                </a>
              </td>
              <td>
                <a href="{% url 'actualiza_usuario' usr.id %}">
                  <i class="bi-pencil-fill"></i>
                </a>
              </td>
              <td>
                <a href="{% url 'borra_usuario' usr.id %}">
                  <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>          
            {% endfor %}
          </tbody>
        </table>
        </ul>
    </div>
  </section>
        
{% endblock contenido %} 