{% extends 'app_guias/base.html' %}


{% block contenido %}

<section>
    <div>
      <h1>Lista de Agentes de carga </h1>        
        <a class="btn btn-primary btn-xs p-1 " href="{% url 'crear_agente' %}">Nuevo Agente</a>
        <br>
        <br>
        <form action="{% url 'buscar_agente' %}" method="post">
          {% csrf_token %}
          <input type="text" name="busqueda">
          <input type="submit" value="Buscar x abrev">
        </form>
        <br>

      <ul>
        <table class="table">
          <body>
            <tr>
              <th>Nombre</th>
              <th>Codigo</th>
              <th>Detalles</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>  
            {% for fwr in object_list %}
            <tr>
              <td>{{ fwr.nombre_fwr }}</td>
              <td>{{ fwr.abrev_fwr }}</td>
              <td>
                <a href="{% url 'detalle_agente' fwr.id %}">
                  <i class="bi-eye-fill"></i>
                </a>
              </td>
              <td>
                <a href="{% url 'actualiza_agente' fwr.id %}">
                  <i class="bi-pencil-fill"></i>
                </a>
              </td>
              <td>
                {% if user == fwr.creador %}
                <a href="{% url 'borra_agente' fwr.id %}">
                  <i class="bi bi-trash"></i>
                </a>
                {% endif %}
              </td>
            </tr>          
            {% endfor %}
          </tbody>
        </table>
        </ul>
    </div>
  </section>
        
{% endblock contenido %} 